<div class="row"  style="background:#fafafa;" *ngIf="!videoMode">
  <div class="col-sm-12 col-md-6 col-lg-3" style="background:#fafafa; height: 100vh; box-shadow: 0px 0px 30px black; z-index: 9000; overflow: hidden">
    <span *ngIf="!isWatchMode && !isTeachMode">
      <img src="assets/logo2.png" class="img-fluid smallerimage" alt="Responsive image">
      <h1>Ebounce</h1>
      <h2>Learning For All</h2>
      <p>Ebounce Is a non-profit organisation connecting passionate educators with children who are lacking educational opportunities, by live streaming lessons from certified local teachers to remote classrooms around the world. <br /><br /> <b>{{itemcount}} folks have generously donated ${{totalcurrencyval}}!</b></p>

      <fieldset>
        <div class="form-group">
          <label for="exampleInputEmail1">Donation Amount</label>
          <input type="number" class="form-control" placeholder="Every penny counts!" [(ngModel)]="donateamt" #ctrl="ngModel" required>
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control" placeholder="Enter email" [(ngModel)]="email" #ctrl="ngModel" required>
          <small class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>

        <button type="button" class="btn framebtn supporbtn" (click)="support()">Support Today</button>

      </fieldset>

    </span>

    <span *ngIf="isWatchMode">
      <img src="assets/close.png" class="closeicon" (click)="backtofalse()">
      <h1>Subjects</h1>

      <table class="table table-striped table-hover table-bordered">
        <thead class="thead-dark">
          <tr>
            <th>Subject</th>
            <th>Lesson</th>
            <th>Time</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let corelesson of corelessons2" (click)="goVideo(corelesson)">
            <th>{{corelesson.subject}}</th>
            <th>{{corelesson.lesson}}</th>
            <th>{{corelesson.time}}</th>
          </tr>
        </tbody>
      </table>
    </span>

    <span *ngIf="isTeachMode">
      <img src="assets/close.png" class="closeicon" (click)="backtofalse()">
      <h1 class="smallmobileh1"> Make the world a better place </h1>

      <div class="arrayform">
        <input type="text" placeholder="Lesson Subject" [(ngModel)]="subject" #ctrl="ngModel" required/> <br /> <br />
        <input type="text" placeholder="Lesson Name"  [(ngModel)]="lesson" #ctrl="ngModel" required/> <br /> <br />
        <h4>Please select a time: </h4> <input type="time" class="specialtime" placeholder="Prefered Time"  [(ngModel)]="time" #ctrl="ngModel" required/> <br /> <br />

        <button class="btn lessonbtn" (click)="lessoncreation()">Make Lesson</button>
      </div>
    </span>

  </div>
  <div class="col-sm-12 col-md-6 col-lg-9 bigright">
    <div class="overlay"></div>
<!--
    <input type="text" class="accessInput" placeholder="Access Code" [(ngModel)]="accesscode" #ctrl="ngModel" required/>
    <button type="button" class="btn watchVid" (click)="watchMode()">Watch a Lesson</button>
    <button type="button" class="btn teachVid" (click)="teachMode()">Teach a Lesson</button>


    <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=SRYGP5QEHPZJL">
      <button type="button" class="btn teachVid paypabtn">Donate to Ebounce via PayPal</button>
    </a> -->

    <button type="button" class="btn watchVid">Watch A Leason</button>
    <button type="button" class="btn teachVid">Teach A Leason</button>

  </div>
</div>

<div class="videomode" *ngIf="videoMode">

    <img src="assets/close.png" class="closeicon biggerclose" (click)="backtofalse()">
    <h3>Room <b>#{{roomNumber}}</b> &bull; Subject - <b>{{subJect}}</b> &bull; Lesson - <b>{{lesSon}}</b> &bull; Current Time - <b>{{currnetime | date:'fullDate'}}</b> </h3> <br /><br />
    <iframe [src]="videoRoomID" width=800 height=640 allow="camera"x></iframe>

</div>
