.smallerimage{
  max-width: 130px !important;
  margin-top: 5vh;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  position: absolute;
}

h1{
  text-align: center;
  margin-top: 20vh;
}

h2{
  text-align: center;
  font-size: 16px;
  font-weight: 300;
  margin-top: 1vh;
}

.bigright{
  width: 100%;
  height: 100%;
  background: url('../assets/back.jpg') center center no-repeat;
  background-size: cover;
  height: 100vh;
}

.overlay {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to bottom right,#4B82C0,#74549F);
  opacity: .6;
}

.watchVid{
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  width: 30vw;
  top: 40vh;
  background-color: #FFFFFF;
  border-radius: 5px;
  display: inline-block;
  border: none;
  color: #6B9362;
  text-align: center;
  font-size: 18px;
  padding: 1vw;
  cursor: pointer;
  box-shadow: 0px 0px 10px black;
}


.thead-dark .th{
  background-color: #74549F !important
}

.teachVid{
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  width: 30vw;
  top: 50vh;
  background-color: #FFFFFF;
  border-radius: 5px;
  display: inline-block;
  border: none;
  color: #6B9362;
  text-align: center;
  font-size: 18px;
  padding: 1vw;
  cursor: pointer;
  box-shadow: 0px 0px 10px black;

}

.paypabtn{
  margin-top: -25vh;
  color: #fff;
  background-color: #4b77be;
  box-shadow: 0px 0px 0px;
}


p{
  text-align: center;
  width: 18vw;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  position: absolute;
  margin-top: 3vh;
  font-size: 14px;
}

.framebtn{
  text-align: center;
  width: 15vw;
  height: 5vh;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  position: absolute;
  border-radius: 5px;
  color: #fff;
}

.accessInput{
    width: 30vw;
    height: 6vh;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    position: absolute;
    border-radius: 5px;
    margin-top: 30vh;
    border: none;
    box-shadow: 0px 0px 10px black;
    text-align: left;
    padding-left: 1vw;
}


.subbtn{
  margin-top: 30vh;
  background-color: #D24D57;
}

.instbtn{
  margin-top: 36vh;
  background-color: #F58F84;
}

.teachbtn{
  margin-top: 42vh;
  background-color: #89729E;
}

.donatebtn{
  margin-top: 52vh;
  background-color: #4b77be;
}

.supporbtn{
  margin-top: 5vh;
  background-color: #6B9362;
}

.closeicon{
  width: 25px;
  position: absolute;
  margin-left: 2.5vw;
  margin-top: 5vh;
}

.biggerclose{
  margin-left: -45vw;
  margin-top: 0.5vh;
}

h4{
  font-size: 21px;
  margin-top: 2vh;
  padding-bottom: 1vh;
}

fieldset{
  margin-top: 30vh;
  width: 18vw;

  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  position: absolute;
}

.paypabtn{
  position: absolute;
  z-index: 9000;
  top: 91vh;

  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}

.table{
  width: 85%;
  padding: 10vw;

  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;

  margin-top: 10vh;
}

.arrayform{
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;

  margin-top: 10vh;
}

.arrayform input{
  border: none;
  background-color: #fff;
  box-shadow: 0px 0px 10px #8e8e8e;
  padding: 1vw;
}

.specialtime{
    width: 14vw;
}

.arrayform input{
  border: none;
  background-color: #fff;
  box-shadow: 0px 0px 10px #8e8e8e;
  padding: 1vw;
}

.lessonbtn{
  margin-top: 10vh;
  padding: 1vw;
  width: 50%;
  border-radius: 5px;
  background-color: #89729E;
  color: #fff;
}

.videomode{
  padding-top: 5vh;
  background: #fafafa;
  height: 100vh;
  text-align: center;
}

iframe{
  border: none;
  border-radius: 10px;
}

@media (min-width: 320px) and (max-width: 480px) {

  h1{
    margin-top: 13.5vh;
  }

  p{
    width: 60vw;
  }

  fieldset{
    margin-top: 35vh;
    width: 50vw;
  }

  .smallerimage{
    margin-top: 3vh;
    width: 15vw;
  }

  .supporbtn{
    margin-top: 0vh;
  }

  .framebtn{
    width: 40vw;
    height: 5vh;
  }

  .startVid{
    margin-left: 80%;
  }

  .accessInput{
    width: 65vw;
    height: 8vh;
    margin-top: 25vh;
    padding-left: 5vw;
  }

  .watchVid{
    width: 65vw;
    height: 8vh;
    margin-top: 0vh;
    font-size: 14px;
  }

  .teachVid{
    width: 65vw;
    height: 8vh;
    margin-top: 0vh;
    font-size: 14px;
  }

  .paypabtn{
    width: 65vw;
    height: 8vh;
    margin-top: -20vh;
    font-size: 14px;
  }

  .arrayform input{
    width: 65vw;
    height: 8vh;
    padding-left: 5vw;
  }

  .lessonbtn{
    margin-top: 3vh;
  }

  .smallmobileh1{
    width: 70vw;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    margin-top: 20vh;
  }

  .closeicon{
    margin-left: 15vw;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {

    h1{
      margin-top: 20vh;
    }

    p{
      width: 40vw;
    }

    fieldset{
      margin-top: 30vh;
      width: 40vw;
    }

    .smallerimage{
      margin-top: 5vh;
    }

    .supporbtn{
      margin-top: 0vh;
    }

    .framebtn{
      width: 40vw;
      height: 5vh;
    }

    .paypabtn{
      margin-top: -5vh;
    }

    .startVid{
      margin-left: 80%;
    }

}
